
    <footer class="footer">
        <div class="container">
          <div class="row">
         
            <div class="col-md-5">
                  <a class="nav-link" > 
                   <h6  class="text-white">Adresse : AVENUE TAHA HUSSEIN MONTFLEURY,1008 TUNIS </h6> </a>
                  <a class="nav-link" ><h6  class="text-white">Tél : (+216) 71 496 066 /  71 494 020 </h6>  </a>
                  <a class="nav-link" href="https://creative-tim.com/contact-us?ref=blkdsa-footer">
                    <h6 class="text-white">contact : Insightofensit2k19@gmail.com </h6>                
                  </a>
         
                
            </div>
            <div class="col-md-5">
           
                  <a class="nav-link" href="https://creative-tim.com/contact-us?ref=blkdsa-footer">
                    <h6 class="text-white">Media 1 : www.media2media2media2.com </h6>                
                  </a>
               
                  <a class="nav-link" href="https://creative-tim.com/about-us?ref=blkdsa-footer">
                    <h6 class="text-white">Media 2: www.media2media2media2.com </h6>                
                  </a>
               
            </div>
       
       

                          <div class="col-md-2">

                  <a class="nav-link"
                  class="btn btn-icon btn-twitter btn-round mr-1"
                  href="https://www.linkedin.com/company/insight-of-ensit/about/"
                  target="_blank"
                >
                  <i class="fab fa-linkedin-in"> </i>
                </a>
                <a
                  class="btn btn-icon btn-facebook btn-round mr-1"
                  href="https://www.facebook.com/pg/InsightofENSIT/about/?ref=page_internal"
                  target="_blank"
                >
                  <i class="fab fa-facebook-square"> </i>
                </a>
                <a
                  class="btn btn-icon btn-dribbble btn-round"
                  href="https://www.instagram.com/insightofensit19/p/Bqx_2wenDA_/?hl=en"
                  target="_blank"
                >
                <i class="fab fa-instagram"> </i>
              </a>

            </div>

          </div>
          <div class="row">

              <div class="col-md-12">

                  <h6 class="text-right text-info">  © 2019,Powered by Ghouma Nacim & Abdoulaye Fankafolo Koné

                    </h6>                

              </div></div>
        </div>
      </footer>