<!--===========================Francais=================================-->
<div *ngIf=langcd class="container" style="padding: 50px;">

    <h1 class="text-center text-white">Programme</h1>
    <div id="typography">
        <div class="row">
            <div class="col-md-12">


                <blockquote>
                    <h1 class="blockquote blockquote-danger text-white">
                        8 H - Accueil et inscription des participants <br /> </h1>
                </blockquote>
            </div>

            <div class="col-md-12">


                <blockquote>
                    <h1 class="blockquote blockquote-danger text-white">
                        9 H - Allocutions d'overture <br /> </h1>
                </blockquote>
            </div>

            <div class="col-md-12">
                <blockquote>
                    <h1 class="blockquote blockquote-danger text-white">
                        10 H - Pause café<br /> </h1>
                </blockquote>
            </div>


            <div class="col-md-12">
                <blockquote>
                    <h1 class="blockquote blockquote-danger text-white">
                        10 H 45 -Première conférence sur le thème <span > “De
                            l’INNOVATION 
                            À LA SOCIÉTÉ 5.0 : pourquoi et comment ?”</span> assurée
                        par<span > Monsieur le Professeur Bruno SALGUES </span>:
                        Directeur d’études au sein de la direction de
                        l’innovation à l’Institut Mines Télécom<br /> </h1>
                </blockquote>
            </div>


            <div class="col-md-12">
                <blockquote>
                    <h1 class="blockquote blockquote-danger text-white">
                        11 H 45 - Deuxième conférence sur le<span > SMART GRID 
                        </span>assurée
                        par<span > Monsieur Radhouane DAKHLI </span>: chef de projet
                        à la STEG<br /> </h1>
                </blockquote>
            </div>

            <div class="col-md-12">
                <blockquote>
                    <h1 class="blockquote blockquote-danger text-white">
                        12 H - Pause déjeuner<br /> </h1>
                </blockquote>
            </div>


            <div class="col-md-12">
                <blockquote>
                    <h1 class="blockquote blockquote-danger text-white">
                        14 H - Débat sur <span > les métiers de l’ingénieur de demain
                            dans la
                            société 5.0 </span>-<span > Monsieur Youssef FENNIRA
                        </span>: Directeur
                        général de l’ANETI -<span > Monsieur Mongi BOUAICHA</span>
                        : Directeur du Laboratoire Photovoltaïque CRTEn -<span >
                            Monsieur Bruno SALGUES</span> : Directeur d’études au sein de
                        la direction de l’innovation à l’Institut Mines Télécom -
                        <span > Monsieur Ahmed BEN CHEIKH EL ARBI </span>: Professeur à
                        l'ENSIT -<span > Monsieur Karim AHRES</span> : CEO Netcom
                        Tunisia <br /> </h1>
                </blockquote>
            </div>

            <div class="col-md-12">
                <blockquote>
                    <h1 class="blockquote blockquote-danger text-white">
                        15 H - Compétition et remise des prix<br /> </h1>
                </blockquote>
            </div>

            <div class="col-md-12">
                <blockquote>
                    <h1 class="blockquote blockquote-danger text-white">
                        15 H 30 - Pause musicale <br /> </h1>
                </blockquote>
            </div>

            <div class="col-md-12">
                <blockquote>
                    <h1 class="blockquote blockquote-danger text-white">
                        16 H 30 - Clôture<br /> </h1>
                </blockquote>
            </div>
        </div>
    </div>
</div>


<!--===========================Anglais=================================-->

<div *ngIf=!langcd class="container" style="padding: 50px;">

    <h1 class="text-center text-white"> Program</h1>
    <div id="typography">
        <div class="row">
            <div class="col-md-12">


                <blockquote>
                    <h1 class="blockquote blockquote-danger text-white">
                        8 AM - Welcome and participants registrations <br /> </h1>
                </blockquote>
            </div>

            <div class="col-md-12">


                <blockquote>
                    <h1 class="blockquote blockquote-danger text-white">
                        9 AM - Opening speech <br /> </h1>
                </blockquote>
            </div>

            <div class="col-md-12">
                <blockquote>
                    <h1 class="blockquote blockquote-danger text-white">
                        10 AM - Coffee pause<br /> </h1>
                </blockquote>
            </div>


            <div class="col-md-12">
                <blockquote>
                    <h1 class="blockquote blockquote-danger text-white">
                        10 AM 45 - First conference entitled <span >" FROM INNOVATION  TO
                           THE SOCIETY 5.0 : the how and the why "</span>
                        presented by<span > Mr Bruno SALGUES </span>:
                        The director of innovation direction at Mines Telecom Institute
                        <br /> </h1>
                </blockquote>
            </div>


            <div class="col-md-12">
                <blockquote>
                    <h1 class="blockquote blockquote-danger text-white">
                        11 AM 45 - Second conference about<span >
                            SMART GRID</span> presented by <span >
                            Mr Radwhen DHAKHLI</span> : project manager at STEG
                        <br /> </h1>
                </blockquote>
            </div>

            <div class="col-md-12">
                <blockquote>
                    <h1 class="blockquote blockquote-danger text-white">
                        12 PM - Lunch pause <br /> </h1>
                </blockquote>
            </div>


            <div class="col-md-12">
                <blockquote>
                    <h1 class="blockquote blockquote-danger text-white">
                        2 PM - Debate <span >on tomorrow's engineer jobs in SOCIETY 5.0
                        </span> - <span >
                            Mr. Fennira </span>: general director at ANTEI - <span >
                            Mr . Mongi </span> : Director at CRTEn Photovoltaic Laboratory - <span
                            >
                            Mr. Bruno SALGUES</span> : The director of innovation direction at Mines Telecom Institute -
                        <span> Mr. Ahmed BEN CHEIKH EL ARBI </span>: Professor at ENSIT - <span >
                            Mr. Karin AHRES</span> : Ceo Netcom
                        Tunisia <br /> </h1>
                </blockquote>
            </div>

            <div class="col-md-12">
                <blockquote>
                    <h1 class="blockquote blockquote-danger text-white">
                        3 PM - Competition and awards<br /> </h1>
                </blockquote>
            </div>

            <div class="col-md-12">
                <blockquote>
                    <h1 class="blockquote blockquote-danger text-white">
                        3 PM 30 - Musical pause <br /> </h1>
                </blockquote>
            </div>

            <div class="col-md-12">
                <blockquote>
                    <h1 class="blockquote blockquote-danger text-white">
                        4 PM 30 - The closing <br /> </h1>
                </blockquote>
            </div>
        </div>
    </div>
</div>