<!--===========================Francais=================================-->
<div *ngIf=langcd class="container" style="padding: 50px;">

    <h1 class="text-center text-white">Programme</h1>
    <div id="typography">
        <div class="row">
            <div class="col-md-12">


                <blockquote>
                    <h1 class="blockquote blockquote-danger text-white">
                        8 H - Accueil et inscription des participants <br /> </h1>
                </blockquote>
            </div>

            <div class="col-md-12">


                <blockquote>
                    <h1 class="blockquote blockquote-danger text-white">
                        9 H - Allocutions d'overture <br /> </h1>
                </blockquote>
            </div>

            <div class="col-md-12">
                <blockquote>
                    <h1 class="blockquote blockquote-danger text-white">
                        10 H - Pause café<br /> </h1>
                </blockquote>
            </div>


            <div class="col-md-12">
                <blockquote>
                    <h1 class="blockquote blockquote-danger text-white">
                        10 H 45 -Première conférence sur le thème <span style="color: rgb(67, 220, 20);"> “De
                            l’innovation
                            à la societé 5.0 : pourquoi et comment ?”</span> assurée
                        par<span style="color: rgb(67, 220, 20);"> Monsieur le Professeur Bruno SALGUES </span>-
                        Directeur d’études au sein de la direction de
                        l’innovation à l’Institut Mines Télécom<br /> </h1>
                </blockquote>
            </div>


            <div class="col-md-12">
                <blockquote>
                    <h1 class="blockquote blockquote-danger text-white">
                        11 H 45 - Deuxième conférence sur le<span style="color: rgb(67, 220, 20);"> Smart Grid
                        </span>assurée
                        par<span style="color: rgb(67, 220, 20);"> Monsieur Radhouane DAKHLI </span>- chef de projet
                        à la STEG<br /> </h1>
                </blockquote>
            </div>

            <div class="col-md-12">
                <blockquote>
                    <h1 class="blockquote blockquote-danger text-white">
                        12 H - Pause déjeuner<br /> </h1>
                </blockquote>
            </div>


            <div class="col-md-12">
                <blockquote>
                    <h1 class="blockquote blockquote-danger text-white">
                        14 H - Débat sur <span style="color: rgb(67, 220, 20);"> les métiers de l’ingénieur de demain
                            dans la
                            société 5.0 </span>-<span style="color: rgb(67, 220, 20);"> Monsieur Youssef FENNIRA
                        </span>: Directeur
                        général de l’ANETI -<span style="color: rgb(67, 220, 20);"> Monsieur Mongi BOUAICHA</span>
                        : Directeur du laboratoire photovoltaïque CRTEn -<span style="color: rgb(67, 220, 20);">
                            Monsieur Bruno SALGUES</span> : Directeur d’études au sein de
                        la direction de l’innovation à l’institut Mines Télécom -
                        <span style="color: rgb(67, 220, 20);"> Monsieur Ahmed BEN CHEIKH EL ARBI </span>: Professeur à
                        l'ENSIT -<span style="color: rgb(67, 220, 20);"> Monsieur Karim AHRES</span> : CEO Netcom
                        Tunisia <br /> </h1>
                </blockquote>
            </div>

            <div class="col-md-12">
                <blockquote>
                    <h1 class="blockquote blockquote-danger text-white">
                        15 H - Compétition et remise des prix<br /> </h1>
                </blockquote>
            </div>

            <div class="col-md-12">
                <blockquote>
                    <h1 class="blockquote blockquote-danger text-white">
                        15 H 30 - Pause musicale <br /> </h1>
                </blockquote>
            </div>

            <div class="col-md-12">
                <blockquote>
                    <h1 class="blockquote blockquote-danger text-white">
                        16 H 30 - Clôture<br /> </h1>
                </blockquote>
            </div>
        </div>
    </div>
</div>


<!--===========================Anglais=================================-->

<div *ngIf=!langcd class="container" style="padding: 50px;">

    <h1 class="text-center text-white"> Program</h1>
    <div id="typography">
        <div class="row">
            <div class="col-md-12">


                <blockquote>
                    <h1 class="blockquote blockquote-danger text-white">
                        8 AM - welcome and participants registrations <br /> </h1>
                </blockquote>
            </div>

            <div class="col-md-12">


                <blockquote>
                    <h1 class="blockquote blockquote-danger text-white">
                        9 AM - Opening speech <br /> </h1>
                </blockquote>
            </div>

            <div class="col-md-12">
                <blockquote>
                    <h1 class="blockquote blockquote-danger text-white">
                        10 AM - Coffee pause<br /> </h1>
                </blockquote>
            </div>


            <div class="col-md-12">
                <blockquote>
                    <h1 class="blockquote blockquote-danger text-white">
                        10 AM 45 - First conference about <span style="color: rgb(67, 220, 20);"> "from innovation to
                            the society 5.0 : the how and the why "</span>
                        presented by<span style="color: rgb(67, 220, 20);"> Mr bruno salgues </span>
                        The director of innovation direction at mines telecom institute
                        <br /> </h1>
                </blockquote>
            </div>


            <div class="col-md-12">
                <blockquote>
                    <h1 class="blockquote blockquote-danger text-white">
                        11 AM 45 - Second conference about<span style="color: rgb(67, 220, 20);">
                            smart grid</span> presented by <span style="color: rgb(67, 220, 20);">
                            Mr radwhen dhakhli </span> prject manager at steg
                        <br /> </h1>
                </blockquote>
            </div>

            <div class="col-md-12">
                <blockquote>
                    <h1 class="blockquote blockquote-danger text-white">
                        12 PM - Lunch pause <br /> </h1>
                </blockquote>
            </div>


            <div class="col-md-12">
                <blockquote>
                    <h1 class="blockquote blockquote-danger text-white">
                        2 PM - Debate <span style="color: rgb(67, 220, 20);">on tomorrow's engineer jobs in society 5.0
                        </span> - <span style="color: rgb(67, 220, 20);">
                            Mr. Fennira </span>: general director at l antei - <span style="color: rgb(67, 220, 20);">
                            Mr . Mongi </span> : Director at Crtn photovoltaic laboratory - <span
                            style="color: rgb(67, 220, 20);">
                            Mr. Bruno </span> : The director of innovation direction at mines telecom institute -
                        <span style="color: rgb(67, 220, 20);"> Mr ahmed </span>: professor at ensit Mr karin ceo Netcom
                        tunisia <br /> </h1>
                </blockquote>
            </div>

            <div class="col-md-12">
                <blockquote>
                    <h1 class="blockquote blockquote-danger text-white">
                        3 PM - Competition and awards<br /> </h1>
                </blockquote>
            </div>

            <div class="col-md-12">
                <blockquote>
                    <h1 class="blockquote blockquote-danger text-white">
                        3 PM 30 - Musical pause <br /> </h1>
                </blockquote>
            </div>

            <div class="col-md-12">
                <blockquote>
                    <h1 class="blockquote blockquote-danger text-white">
                        4 PM 30 - The closing <br /> </h1>
                </blockquote>
            </div>
        </div>
    </div>
</div>