
<!--===========================Francais=================================-->

<div *ngIf=langcd style="padding: 50px;">

  
<h1 class="text-center text-white" > FORUM INSIGHT OF ENSIT 2019 </h1>

<div class="row justify-content-between align-items-center">
  <div class="col-lg-5 mb-5 mb-lg-0">
    <h1 class="text-white font-weight-light">SOCIETY 5.0</h1>
    <h3>OVERTAKING THE FUTURE WITH TECHNOLOGY</h3>
    <h4 class="text-white mt-4">
      Le forum Insight of Ensit a été toujours un cadre propice pour garantir aux étudiants de l'ENSIT
      des opportunités d'integration dans le monde professionnel ce qui va leur assurer une complémentarités
      entre le cursus universitaire et les compétences techniques occurées par le milieu industriel. <br><br>

      INSIGHT OF ENSIT sera le premier forum à traiter la thématique <span style="color: rgb(67, 220, 20);">Society 5.0</span> qui demeure un modèle visant
      à exploiter toutes les technologies développées dans tous les domaines afin de résoudre des problèmes sociétaux.
    </h4>

  </div>
  <div class="col-lg-6">
    <carousel [showIndicators]="false">
      <slide>
        <img
          alt="First slide"
          class="d-block w-100"
          src="../../assets/img/forum 1.JPG"
        />
      </slide>
      <slide>
        <img
          alt="Second slide"
          class="d-block w-100"
          src="../../assets/img/forum 2.JPG"

        />
    
      </slide>
      <slide>
        <img
          alt="Third slide"
          class="d-block w-100"
          src="../../assets/img/forum 3.JPG"
        />
      </slide>
    </carousel>

</div>
</div>
</div>
     

<!--===========================Anglais=================================-->

<div *ngIf=!langcd style="padding: 50px;">

  
    <h1 class="text-center text-white" > FORUM INSIGHT OF ENSIT 2019 </h1>
    
    <div class="row justify-content-between align-items-center">
      <div class="col-lg-5 mb-5 mb-lg-0">
        <h1 class="text-white font-weight-light">SOCIETY 5.0</h1>
        <h3>OVERTAKING THE FUTURE WITH TECHNOLOGY</h3>
        <h4 class="text-white mt-4">
            The Insight of Ensit forum has always been a good place to guarantee ENSIT students
            integration opportunities in the professional world which will ensure their complementarities
            between the university curriculum and the technical skills of the industrial sector. <br><br>
    
            INSIGHT OF ENSIT will be the first forum to deal with the theme <span style="color: rgb(67, 220, 20);">Society 5.0</span> which remains a model aimed at exploiting all technologies developed in all fields in order to solve societal problems.
        </h4>
    
      </div>
      <div class="col-lg-6">
        <carousel [showIndicators]="false">
          <slide>
            <img
              alt="First slide"
              class="d-block w-100"
              src="../../assets/img/forum 1.JPG"
            />
          </slide>
          <slide>
            <img
              alt="Second slide"
              class="d-block w-100"
              src="../../assets/img/forum 2.JPG"
    
            />
        
          </slide>
          <slide>
            <img
              alt="Third slide"
              class="d-block w-100"
              src="../../assets/img/forum 3.JPG"
            />
          </slide>
        </carousel>
    
    </div>
    </div>
    </div>