<div style="padding: 20px;" id="images" class="brand">
  <br>
  <h1 class="mb-5 text-white">Sponsors</h1>

  <!-----------------------------version moile------------------------------------->
  <div *ngIf="isMobile" class="row">

    <div class="col-sm-3 col-6">

      <img alt="Circle image" src="../../assets/img/newaccess.png" style="margin: 10px; height: 90px;width: 100px;" />

    </div>

    <div class="col-sm-3 col-6">

      <img alt="Circle image" src="../../assets/img/linedata.png" style="margin: 10px; height: 90px;width: 100px;" />

    </div>

    <div class="col-sm-3 col-6">

      <img alt="Circle image" src="../../assets/img/wevio.png" style="margin: 10px; height: 90px;width: 100px;" />

    </div>

    <div class="col-sm-3 col-6">

      <img alt="Circle image" src="../../assets/img/axefinance.png" style="margin: 10px; height: 90px;width: 100px;" />

    </div>

    <br>
  </div>
  <div *ngIf="isMobile" class="row">

    <div class="col-sm-3 col-6">

      <img alt="Circle image" src="../../assets/img/addixo.png" style="margin: 10px;height: 90px;width: 100px;" />

    </div>

    <div class="col-sm-3 col-6">

      <img alt="Circle image" src="../../assets/img/sofia.png" style="margin: 10px; height: 90px;width: 100px;" />

    </div>

    <div class="col-sm-3 col-6">

      <img alt="Circle image" src="../../assets/img/all.png" style="margin: 10px; height: 90px;width: 100px;" />

    </div>

    <div class="col-sm-3 col-6">

      <img alt="Circle image" src="../../assets/img/focus.png" style="margin: 10px;height: 90px;width: 100px;" />

    </div>

    <br>
  </div>
  <div *ngIf="isMobile" class="row">

    <div class="col-sm-3 col-6">

      <img alt="Circle image" src="../../assets/img/mbg.png" style="margin: 10px; height: 90px;width: 100px;" />

    </div>

    <div class="col-sm-3 col-6">

      <img alt="Circle image" src="../../assets/img/sotipaper.png" style="margin: 10px; height: 90px;width: 100px;" />

    </div>

    <div class="col-sm-3 col-6">

      <img alt="Circle image" src="../../assets/img/office.png" style="margin: 10px; height: 90px;width: 100px;" />

    </div>

    <div class="col-sm-3 col-6">

      <img alt="Circle image" src="../../assets/img/afh.png" style="margin: 10px; height: 90px;width: 100px;" />

    </div>

    <br>
  </div>
  <div *ngIf="isMobile" class="row">

    <div class="col-sm-3 col-6">

      <img alt="Circle image" src="../../assets/img/atb.png" style="margin: 10px; height: 90px;width: 100px;" />

    </div>

    <div class="col-sm-3 col-6">

      <img alt="Circle image" src="../../assets/img/cat.png" style="margin: 10px;height: 90px;width: 100px;" />

    </div>

    <div class="col-sm-3 col-6">

      <img alt="Circle image" src="../../assets/img/logidas (2).png" style="margin: 10px; height: 90px;width: 100px;" />

    </div>

    <div class="col-sm-3 col-6">

      <img alt="Circle image" src="../../assets/img/afh.png" style="margin: 10px;height: 90px;width: 100px;" />

    </div>

    <br>
  </div>
  <div *ngIf="isMobile" class="row">

    <div class="col-sm-3 col-6">

      <img alt="Circle image" src="../../assets/img/afh.png" style="margin: 10px;height: 90px;width: 100px;" />

    </div>

    <div class="col-sm-3 col-6">

      <img alt="Circle image" src="../../assets/img/tis-circuit.png" style="margin: 10px; height: 90px;width: 100px;" />

    </div>

    <div class="col-sm-3 col-6">

      <img alt="Circle image" src="../../assets/img/rfr.png" style="margin: 10px;height: 90px;width: 100px;" />

    </div>

    <div class="col-sm-3 col-6">

      <img alt="Circle image" src="../../assets/img/ST.png" style="margin: 10px;height: 90px; width: 100px;" />

    </div>

  </div>


  <!-----------------------------version tabled------------------------------------->
  <div *ngIf="isTablet" class="row">

    <div class="col-sm-3 col-6">

      <img alt="Circle image" src="../../assets/img/newaccess.png" style="margin: 10px; height: 90px;width: 100px;" />

    </div>

    <div class="col-sm-3 col-6">

      <img alt="Circle image" src="../../assets/img/linedata.png" style="margin: 10px; height: 90px;width: 100px;" />

    </div>

    <div class="col-sm-3 col-6">

      <img alt="Circle image" src="../../assets/img/wevio.png" style="margin: 10px; height: 90px;width: 100px;" />

    </div>

    <div class="col-sm-3 col-6">

      <img alt="Circle image" src="../../assets/img/axefinance.png" style="margin: 10px; height: 90px;width: 100px;" />

    </div>

    <br>
  </div>
  <div *ngIf="isTablet" class="row">

    <div class="col-sm-3 col-6">

      <img alt="Circle image" src="../../assets/img/addixo.png" style="margin: 10px;height: 90px;width: 100px;" />

    </div>

    <div class="col-sm-3 col-6">

      <img alt="Circle image" src="../../assets/img/sofia.png" style="margin: 10px; height: 90px;width: 100px;" />

    </div>

    <div class="col-sm-3 col-6">

      <img alt="Circle image" src="../../assets/img/all.png" style="margin: 10px; height: 90px;width: 100px;" />

    </div>

    <div class="col-sm-3 col-6">

      <img alt="Circle image" src="../../assets/img/focus.png" style="margin: 10px;height: 90px;width: 100px;" />

    </div>

    <br>
  </div>
  <div *ngIf="isTablet" class="row">

    <div class="col-sm-3 col-6">

      <img alt="Circle image" src="../../assets/img/mbg.png" style="margin: 10px; height: 90px;width: 100px;" />

    </div>

    <div class="col-sm-3 col-6">

      <img alt="Circle image" src="../../assets/img/sotipaper.png" style="margin: 10px; height: 90px;width: 100px;" />

    </div>

    <div class="col-sm-3 col-6">

      <img alt="Circle image" src="../../assets/img/office.png" style="margin: 10px; height: 90px;width: 100px;" />

    </div>

    <div class="col-sm-3 col-6">

      <img alt="Circle image" src="../../assets/img/afh.png" style="margin: 10px; height: 90px;width: 100px;" />

    </div>

    <br>
  </div>
  <div *ngIf="isTablet" class="row">

    <div class="col-sm-3 col-6">

      <img alt="Circle image" src="../../assets/img/atb.png" style="margin: 10px; height: 90px;width: 100px;" />

    </div>

    <div class="col-sm-3 col-6">

      <img alt="Circle image" src="../../assets/img/cat.png" style="margin: 10px;height: 90px;width: 100px;" />

    </div>

    <div class="col-sm-3 col-6">

      <img alt="Circle image" src="../../assets/img/logidas (2).png" style="margin: 10px; height: 90px;width: 100px;" />

    </div>

    <div class="col-sm-3 col-6">

      <img alt="Circle image" src="../../assets/img/afh.png" style="margin: 10px;height: 90px;width: 100px;" />

    </div>

    <br>
  </div>
  <div *ngIf="isTablet" class="row">

    <div class="col-sm-3 col-6">

      <img alt="Circle image" src="../../assets/img/afh.png" style="margin: 10px;height: 90px;width: 100px;" />

    </div>

    <div class="col-sm-3 col-6">

      <img alt="Circle image" src="../../assets/img/tis-circuit.png" style="margin: 10px; height: 90px;width: 100px;" />

    </div>

    <div class="col-sm-3 col-6">

      <img alt="Circle image" src="../../assets/img/rfr.png" style="margin: 10px;height: 90px;width: 100px;" />

    </div>

    <div class="col-sm-3 col-6">

      <img alt="Circle image" src="../../assets/img/ST.png" style="margin: 10px;height: 90px; width: 100px;" />

    </div>

  </div>
  <!-----------------------------Pc------------------------------------->
  <div *ngIf="isDesktopDevice" class="row">

    <div class="col-sm-3 col-3"> </div>
    <div class="col-sm-2 col-2">


      <img alt="Circle image" src="../../assets/img/newaccess.png" />

    </div>

    <div class="col-sm-2 col-2">

      <img alt="Circle image" src="../../assets/img/axefinance.png" />

    </div>

    <div class="col-sm-2 col-2">

      <img alt="Circle image" src="../../assets/img/wevio.png" />

    </div>


  </div><br>

  <div *ngIf="isDesktopDevice" class="row">

    <div class="col-sm-1 col-6"> </div>
    <div class="col-sm-2 col-6">


      <img alt="Circle image" src="../../assets/img/sofia.png" style="margin: 10px; width: 150px;" />

    </div>

    <div class="col-sm-2 col-6">

      <img alt="Circle image" src="../../assets/img/addixo.png" style="margin: 10px; width: 150px;" />

    </div>

    <div class="col-sm-2 col-6">

      <img alt="Circle image" src="../../assets/img/steg.png" style="margin: 10px; width: 150px;" />

    </div>
    <div class="col-sm-2 col-6">

      <img alt="Circle image" src="../../assets/img/all.png" style="margin: 10px; width: 150px;" />

    </div>
    <div class="col-sm-2 col-6">

      <img alt="Circle image" src="../../assets/img/focus.png" style="margin: 10px; width: 150px;" />

    </div>


  </div><br>
  <div *ngIf="isDesktopDevice" class="row">

    <div class="col-sm-1 col-6">
      <img alt="Circle image" src="../../assets/img/linedata.png" class="bronze" style="height: 90px;" />
    </div>
    <div class="col-sm-1 col-6">
      <img alt="Circle image" src="../../assets/img/sotipaper.png" class="bronze" style="height: 90px;" />
    </div>
    <div class="col-sm-1 col-6">
      <img alt="Circle image" src="../../assets/img/office.png" class="bronze" />
    </div>
    <div class="col-sm-1 col-6">
      <img alt="Circle image" src="../../assets/img/mbg.png" class="bronze" />
    </div>
    <div class="col-sm-1 col-6">
      <img alt="Circle image" src="../../assets/img/atb.png" class="bronze" />
    </div>
    <div class="col-sm-1 col-6">
      <img alt="Circle image" src="../../assets/img/cat.png" class="bronze" />
    </div>
    <div class="col-sm-1 col-6">
      <img alt="Circle image" src="../../assets/img/logidas (2).png" class="bronze" />
    </div>
    <div class="col-sm-1 col-6">
      <img alt="Circle image" src="../../assets/img/onetech.png" class="bronze" />
    </div>
    <div class="col-sm-1 col-6">
      <img alt="Circle image" src="../../assets/img/afh.png" class="bronze" />
    </div>
    <div class="col-sm-1 col-6">
      <img alt="Circle image" src="../../assets/img/tis-circuit.png" class="bronze" />
    </div>
    <div class="col-sm-1 col-6">
      <img alt="Circle image" src="../../assets/img/rfr.png" class="bronze" />
    </div>
    <div class="col-sm-1 col-6">
      <img alt="Circle image" src="../../assets/img/ST.png" class="bronze" />
    </div>

  </div>
</div>