<div style="padding: 20px;" id="images" class="brand">
  <br>
  <h1 class="mb-5 text-white">Sponsors</h1>

  <!-----------------------------version moile------------------------------------->
  <div *ngIf="isMobile" class="row">

    <div class="col-sm-3 col-6">

      <img alt="Circle image" src="../../assets/img/steg.png" style="margin: 10px; height: 90px;width: 100px;" />

    </div>

    <div class="col-sm-3 col-6">

      <img alt="Circle image" src="../../assets/img/onetech.png" style="margin: 10px; height: 90px;width: 100px;" />

    </div>

    <div class="col-sm-3 col-6">

      <img alt="Circle image" src="../../assets/img/all.png" style="margin: 10px; height: 90px;width: 100px;" />

    </div>

    <div class="col-sm-3 col-6">

      <img alt="Circle image" src="../../assets/img/newaccess.png" style="margin: 10px; height: 90px;width: 100px;" />

    </div>

    <br>
  </div>
 
  <div *ngIf="isMobile" class="row">

    <div class="col-sm-3 col-6">

      <img alt="Circle image" src="../../assets/img/iobeya.png" style="margin: 10px; height: 90px;width: 100px;" />

    </div>

    <div class="col-sm-3 col-6">

      <img alt="Circle image" src="../../assets/img/wevio.png" style="margin: 10px; height: 90px;width: 100px;" />

    </div>

    <div class="col-sm-3 col-6">

      <img alt="Circle image" src="../../assets/img/office.png" style="margin: 10px; height: 90px;width: 100px;" />

    </div>

    <div class="col-sm-3 col-6">

      <img alt="Circle image" src="../../assets/img/afh.png" style="margin: 10px; height: 70px;width: 100px;" />

    </div>

    <br>
  </div>
  <div *ngIf="isMobile" class="row">

      <div class="col-sm-3 col-6">

          <img alt="Circle image" src="../../assets/img/linedata.png" style="margin: 10px;height: 90px;width: 100px;" />
    
        </div>
        <div class="col-sm-3 col-6">

            <img alt="Circle image" src="../../assets/img/focus.png" style="margin: 10px;height: 90px;width: 100px;" />
      
          </div>
    <div class="col-sm-3 col-6">

      <img alt="Circle image" src="../../assets/img/atb.png" style="margin: 10px; height: 90px;width: 100px;" />

    </div>

    <div class="col-sm-3 col-6">

      <img alt="Circle image" src="../../assets/img/rfr.png" style="margin: 10px;height: 90px;width: 100px;" />

    </div>



    <br>
  </div>
  <div *ngIf="isMobile" class="row">

    <div class="col-sm-3 col-6">

      <img alt="Circle image" src="../../assets/img/sotipaper.png" style="margin: 10px;height: 90px;width: 100px;" />

    </div>

    <div class="col-sm-3 col-6">

      <img alt="Circle image" src="../../assets/img/cat.png" style="margin: 10px; height: 90px;width: 100px;" />

    </div>

    <div class="col-sm-3 col-6">

      <img alt="Circle image" src="../../assets/img/download.jpg" style="margin: 10px; height: 90px;width: 100px;" />

    </div>

    <div class="col-sm-3 col-6">

      <img alt="Circle image" src="../../assets/img/ST.png" style="margin: 10px;height: 90px;width: 100px;" />

    </div>

    <br>
  </div>
  <div *ngIf="isMobile" class="row">

      <div class="col-sm-3 col-6">

          <img alt="Circle image" src="../../assets/img/sofia.png" style="margin: 10px; height: 90px;width: 100px;" />
    
        </div>
    <div class="col-sm-3 col-6">

      <img alt="Circle image" src="../../assets/img/addixo.png" style="margin: 10px;height: 90px;width: 100px;" />

    </div>



    <div class="col-sm-3 col-6">

      <img alt="Circle image" src="../../assets/img/axe.png" style="margin: 10px;height: 90px;width: 100px;" />

    </div>

    <div class="col-sm-3 col-6">

      <img alt="Circle image" src="../../assets/img/logidas (2).png" style="margin: 10px;height: 90px; width: 100px;" />

    </div>

  </div>
  <div *ngIf="isMobile" class="row">

      <div class="col-sm-3 col-6">

          <img alt="Circle image" src="../../assets/img/mbg.png" style="margin: 10px; height: 90px;width: 100px;" />
    
        </div>







  </div>

  <!-----------------------------version tabled------------------------------------->
  <div *ngIf="isTablet" class="row">

    <div>
      <img style="height: 110px;width: 120px;padding: 10px;" alt="Circle image" src="../../assets/img/steg.png" />
      <img style="height: 110px;width: 110px; padding: 10px;" alt="Circle image" src="../../assets/img/onetech.png" />
      <img style="height: 140px;width: 120px;padding: 10px;" alt="Circle image" src="../../assets/img/all.png" />
      <img style="height: 110px;width: 120px;padding: 10px;" alt="Circle image" src="../../assets/img/newaccess.png" />
      <img style="height: 140px;width: 120px;padding: 10px;" alt="Circle image" src="../../assets/img/iobeya.png" />
      <img style="height: 110px;width: 110px;padding: 10px;" alt="Circle image" src="../../assets/img/wevio.png" />
      <img style="height: 120px;width: 110px;padding: 15px;" alt="Circle image" src="../../assets/img/office.png" />
<img style="height: 100px;width: 100px;" alt="Circle image" src="../../assets/img/afh.png" />

    </div>

    <br>
  </div>
  <div *ngIf="isTablet" class="row">

    
    <div class="col-sm-2 col-6">


      <img alt="Circle image" src="../../assets/img/linedata.png" style="margin: 10px; width: 120px;height: 80px;" />

    </div>

    <div class="col-sm-2 col-6">

      <img alt="Circle image" src="../../assets/img/focus.png" style="margin-left:120pxpx; width: 130px;margin-top: 35px;" />

    </div>

    <div class="col-sm-2 col-6">

      <img alt="Circle image" src="../../assets/img/atb.png" style="margin-left:25px; width: 80px;height: 65px;margin-top: 18px;" />

    </div>
    <div class="col-sm-2 col-6">

      <img alt="Circle image" src="../../assets/img/rfr.png" style="margin: 10px; width:120px;margin-top:20px;height: 60px;;" />

    </div>
    <div class="col-sm-2 col-6">

      <img alt="Circle image" src="../../assets/img/sotipaper.png" style="margin: 10px; width: 160px;" />

    </div>
    <div class="col-sm-2 col-6">

      <img alt="Circle image"  src="../../assets/img/cat.png" style="margin: 10px; width:80px; height:80px;" />

    </div>

    <br>
  </div>
  <div *ngIf="isTablet" class="row">
    <div >
      <img alt="Circle image" src="../../assets/img/download.jpg" class="bronze" style="height: 130px; width: 120px;padding: 30px;" />
      <img alt="Circle image" src="../../assets/img/ST.png" class="bronze" style="height: 130px; width: 120px;padding: 30px;"  />
      <img alt="Circle image" src="../../assets/img/sofia.png" class="bronze"style="height: 110px; width: 160px;padding: 30px;"  />
      <img alt="Circle image" src="../../assets/img/addixo.png" class="bronze"style="height: 110px; width: 155px;padding: 30px;" />
      <img alt="Circle image" src="../../assets/img/axe.png" class="bronze"style="height: 130px; width: 140px;padding: 30px;" />
      <img alt="Circle image" src="../../assets/img/logidas (2).png" class="bronze"style="height: 140px; width: 120px;padding: 30px;"  />
      <img alt="Circle image" src="../../assets/img/mbg.png" class="bronze"style="height: 130px; width: 100px;padding: 30px;"  />

    </div>
  </div><br>
  <div *ngIf="isDesktopDevice">

    <div >
      <img alt="Circle image" src="../../assets/img/download.jpg" class="bronze" style="height: 130px; width: 140px;padding: 30px;" />
      <img alt="Circle image" src="../../assets/img/ST.png" class="bronze" style="height: 130px; width: 140px;padding: 30px;"  />
      <img alt="Circle image" src="../../assets/img/sofia.png" class="bronze"style="height: 110px; width: 180px;padding: 30px;"  />
      <img alt="Circle image" src="../../assets/img/addixo.png" class="bronze"style="height: 110px; width: 175px;padding: 30px;" />
      <img alt="Circle image" src="../../assets/img/axe.png" class="bronze"style="height: 130px; width: 170px;padding: 30px;" />
      <img alt="Circle image" src="../../assets/img/logidas (2).png" class="bronze"style="height: 140px; width: 140px;padding: 30px;"  />
      <img alt="Circle image" src="../../assets/img/mbg.png" class="bronze"style="height: 130px; width: 110px;padding: 30px;"  />

    </div>
  
</div>