<app-header [langcd]="langcd"></app-header>

<div class="wrapper">
  
  <section class="section">
    <div class="container">
      <div class="row">
             <!--  <div class="squares square1"> </div>
                <div class="squares square2"></div>
                <div class="squares square3"></div>
                <div class="squares square4"></div>
                <div class="squares square5"></div>
                <div class="squares square7"></div>--> 

 <!--===========================Francais=================================-->

        <div *ngIf=langcd class="col-md-12">
            <h1 class="profile-title text-left">Inscription</h1>
            <p class="text-on-back">Forum</p>
          <div class="card card-plain">
              <div class="row">
                  <div class="form-group" class="col-md-12">
                  <alert *ngIf="isInscription" class="alert-with-icon" [type]="'warning alert-with-icon'">
                   <span class="tim-icons icon-bulb-63" data-notify="icon"> </span>
                   <span>
                 {{errorMessage}}
                   </span>
                 </alert>
               </div></div>
            <div class="card-body">
              <form #f="ngForm"  (ngSubmit)="onSubmit()" ngNativeValidate>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label> Nom <span style="color: red;">*</span> </label>
                      <input class="form-control" type="text"           
                                   placeholder="Nom"
                                   required
                                   minlength="3"
                          [(ngModel)]="credentials.nom"
                          name="nom"
                      />
    
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label>Prénom <span style="color: red;">*</span></label>
                      <input
                        class="form-control"
                        placeholder="Prénom"
                        type="text"
                        required
                        minlength="3"
                        name="prenom"
                          [(ngModel)]="credentials.prenom"
                      />

                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                        <label> Adresse Email <span style="color: red;">*</span></label>
                        <input
                          class="form-control"
                          placeholder="example@forum.com"
                          type="email"
                          required
                          name="email"             
                        [(ngModel)]="credentials.email"
                        />
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                        <label> Téléphone <span style="color: red;">*</span></label>
                        <input
                          class="form-control"
                          type="tel"
                          placeholder="12321345"
                          required
                          minlength="8"
                          maxlength="8"
                          name="tel"
                          [(ngModel)]="credentials.tel"
  
                        />
                    </div>
                  </div>
                  <div class="col-md-6">
                      <div class="form-group">
                        <label> Fonction <span style="color: red;">*</span></label>
                        <input
                          class="form-control"
                          type="text"
                          placeholder="Fonction"
                          required
                          minlength="3"
                          name="fonction"    
                    [(ngModel)]="credentials.fonction"
                          
                        />

                      </div>
                    </div> <div class="col-md-6">
                        <div class="form-group">
                          <label> Entreprise <span style="color: red;">*</span></label>
                          <input
                            class="form-control"
                            type="text"
                            placeholder="Entreprise"
                            required
                            minlength="3"
                            name="entreprise"               
                                       [(ngModel)]="credentials.entreprise"
                          />

                        </div>

                      </div>
                </div>
        
                <button
                  class="btn btn-primary btn-round float-right"
                  placement="right"
                  type="submit"
                >
                  S'inscrire 
                </button>
              </form>
            </div>
          </div>
        </div>

 <!--===========================Anglais=================================-->

 <div *ngIf=!langcd class="col-md-12">
    <h1 class="profile-title text-left">Registration</h1>
    <p class="text-on-back">Forum</p>
  <div class="card card-plain">
      <div class="row">
          <div class="form-group" class="col-md-12">
          <alert *ngIf="isInscription" class="alert-with-icon" [type]="'warning alert-with-icon'">
           <span class="tim-icons icon-bulb-63" data-notify="icon"> </span>
           <span>
         {{errorMessage}}
           </span>
         </alert>
       </div></div>
    <div class="card-body">
      <form #f="ngForm"  (ngSubmit)="onSubmit()" ngNativeValidate>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label> Last name <span style="color: red;">*</span> </label>
              <input class="form-control" type="text"           
                           placeholder="Last name"
                           required
                           minlength="3"
                  [(ngModel)]="credentials.nom"
                  name="nom"
              />

            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label>First name <span style="color: red;">*</span></label>
              <input
                class="form-control"
                placeholder="First name"
                type="text"
                required
                minlength="3"
                name="prenom"
                  [(ngModel)]="credentials.prenom"
              />

            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
                <label> E-mail adress <span style="color: red;">*</span></label>
                <input
                  class="form-control"
                  placeholder="example@forum.com"
                  type="email"
                  required
                  name="email"             
                [(ngModel)]="credentials.email"
                />
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
                <label> Phone <span style="color: red;">*</span></label>
                <input
                  class="form-control"
                  type="tel"
                  placeholder="12321345"
                  required
                  minlength="8"
                  maxlength="8"
                  name="tel"
                  [(ngModel)]="credentials.tel"

                />
            </div>
          </div>
          <div class="col-md-6">
              <div class="form-group">
                <label> Function <span style="color: red;">*</span></label>
                <input
                  class="form-control"
                  type="text"
                  placeholder="Function"
                  required
                  minlength="3"
                  name="fonction"    
            [(ngModel)]="credentials.fonction"
                  
                />

              </div>
            </div> <div class="col-md-6">
                <div class="form-group">
                  <label> Corporate <span style="color: red;">*</span></label>
                  <input
                    class="form-control"
                    type="text"
                    placeholder="Corporate"
                    required
                    minlength="3"
                    name="entreprise"               
                               [(ngModel)]="credentials.entreprise"
                  />

                </div>

              </div>
        </div>

        <button
          class="btn btn-primary btn-round float-right"
          placement="right"
          type="submit"
        >
        Register 
        </button>
      </form>
    </div>
  </div>
</div>
       
      </div>
    </div>
  </section></div>